<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Olga Cherevko</h1>
    <p>I learn Ruby on Rails on <a href="https://www.udemy.com">Udemy</a>
      courses:
      "The Professional Ruby on Rails Developer",
      "BDD with Ruby on Rails using RSpec 3 and Capybara";
     <p> In <a href="https://www.codecademy.com/">Codeacademy </a>, I completed "Ruby",
      "Learn Ruby on Rails",
      "Ruby on Rails: Authentication", "HTML $ CSS", "JavaScript" courses, also still learning Ruby by greate book
      <a href="http://learnrubythehardway.org">Learn Ruby the hard way</a>.
       </p>
      <p>This Blog was created with <a href="http://mackenziechild.me">Mackenzie Child</a> helped
       and his 12 Web Apps in 12 Weeks Challenge.
        <p>
      <p>Another my work you can find at my <a href="https://github.com/OlgaLight">Github</a>, so if you have 
position for me AND interesting project AND tasks AND experienced mentor (it a MOST important for me)
who can spend a time for teach me and answer for my questions, 
I believe that I could fit easily into your team, please,
        contact me:<br> my <a href="https://ua.linkedin.com/in/olga-cherevko-7b88233b">LinkedIn</a>  with all information about
      me or just   <a href="mailto:cherevko.olia@gmail.com">mail</a> me. </p>

  </div>
</div>
